<div data-controller="portrait" data-portrait-url="https://picsum.photos"
     class="mt-16 container mx-auto flex flex-wrap justify-center">
  <div class="max-w-sm rounded overflow-hidden shadow-lg object-none object-center">
    <button data-target="portrait.changeButton" data-action="portrait#changePicture">
      <img data-target="portrait.image" class="w-full" src="<%= image['download_url'] %>">
    </button>
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2" data-target="portrait.author"><%= image['author'] %></div>
      <%= form_with(model: @portrait, html: { data: { target: 'portrait.form'} } ) do |f| %>
        <%= f.hidden_field :author, value: image['author'] %>
        <%= f.hidden_field :url, value: image['download_url'] %>
        <%= f.hidden_field :pic_id, value: image['id'] %>
        <button type="submit" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
          Save
        </button>
      <% end %>
    </div>
  </div>
</div>
